<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta name="google-site-verification" content="YcixKtAc0ZRqPtwsl7KyvT3UkA3xxaNznRJpx-E9n2g" />

  <title>Díptico | Dúo Acústico de clásicos y Pop-Rock</title>
  <link rel="icon" href="static/img/favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">

  <link rel="alternate" hreflang="es" href="https://www.duodiptico.com/">
  <link rel="alternate" hreflang="en" href="https://www.duodiptico.com/en.html">

  <!-- Recomendado añadir Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="https:/www.duodiptico.com/static/img/social_card_cropped.jpeg" />

  <meta name="description" content="Música en vivo con voz y guitarra acústica. Pop-rock y clásicos para eventos en toda España.">
  <meta property="og:url" content="https://www.duodiptico.com/">
  <meta property="og:title" content="Dúo Díptico - Pop-Rock y clásicos en directo">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://www.duodiptico.com/static/img/social_card_cropped.jpeg">
  <meta property="og:description" content="Música en vivo con voz y guitarra acústica. Pop-rock y clásicos para eventos en toda España.">

  <meta name="keywords" content="Dúo Díptico, dúo musical, música en vivo, pop rock acústico, voz y guitarra, bodas, eventos privados, conciertos íntimos, Sevilla, España, acoustic duo, live music, acoustic pop rock, wedding music, private events, intimate concerts, Seville, Spain">
  {% seo %}
</head>
<body>
  {{ content }}
</body>
</html>