<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta name="google-site-verification" content="YcixKtAc0ZRqPtwsl7KyvT3UkA3xxaNznRJpx-E9n2g" />
  <title>Díptico | Acoustic Duo</title>
  <link rel="icon" type="image/x-icon" href="static/img/favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">

  <link rel="alternate" hreflang="es" href="https://duodiptico.github.io/index.html">
  <link rel="alternate" hreflang="en" href="https://duodiptico.github.io/index-en.html">

  <meta property="og:url" content="https://duodiptico.github.io/" />
  <meta property="og:image" content="https://duodiptico.github.io/static/img/social_card_cropped.jpeg" />

  <!-- Recommended to add Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="https://duodiptico.github.io/static/img/social_card_cropped.jpeg" />

  <meta name="description" content="Live music with voice and acoustic guitar. Pop‑rock and classics for events throughout Spain.">
  <meta property="og:url" content="https://duodiptico.github.io/">
  <meta property="og:title" content="Dúo Díptico - Pop‑Rock and Classics Live">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://duodiptico.github.io/static/img/social_card_cropped.jpeg">
  <meta property="og:description" content="Live music with voice and acoustic guitar. Pop‑rock and classics for events throughout Spain.">
  <meta name="keywords" content="Dúo Díptico, dúo musical, música en vivo, pop rock acústico, voz y guitarra, bodas, eventos privados, conciertos íntimos, Sevilla, España, acoustic duo, live music, acoustic pop rock, wedding music, private events, intimate concerts, Seville, Spain">
  {% seo %}
</head>
<body>
  {{ content }}
</body>
</html>